img
{
    max-height: 73vh;
}

.card img
{
    object-fit: contain;
}

.sidebar
{
    text-decoration: none;
}

.sticky-breadcrumb
{
    max-height: 5vh;
    margin-top: -1rem;
    padding-top: 0.7rem;
    padding-bottom: 3rem;
    background-color: #222;
}

.h3-about
{
    margin-right: 1rem;
    color: #444;
}

.h4-about
{
    margin-bottom: 0rem;
    margin-right: 1rem;
    color: #444;
}